* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.main-heading,
.recipe-page-heading {
    color: #04080f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-weight: bolder;
    padding: 10px;
}


.shaded-text {
    color: #bbd1ea;
    text-transform: uppercase;
    border: 1px solid #507dbc;
    padding: 10px;
}


.nav-list {
    padding: 1rem;
    display: flex;
    background-color: #507dbc;
}

.nav-link {
    background-color: #507dbc;
    list-style: none;
    flex: 1;
}

.nav-link a {
    background-color: #507dbc;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.recipe-image {
    height: 500px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.recipe-description-heading {
    font-size: 25px;
    margin-bottom: 20px;
}

.recipe-description {
    font-size: 20px;
}

.content-heading {
    font-size: 22px;
    text-align: center;
}
.ol,
.ul {
    font-size: 18px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 1;
}

.info-container {
    padding-right: 25rem;
    text-align: center;
}
.info-container p {
    text-align: justify;
}

hr {
    margin-top: 2rem;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
}

.list-content {
    background-color: #bbd1ea;
    padding: 5px 10px 10px 10px;
    border: 1px solid black;
    flex: 1;
    margin: 1rem;
}

.list-content * {
    background-color: #bbd1ea;
}