* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.main-heading,
.recipe-page-heading {
    color: #04080f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-weight: bolder;
    padding: 10px;
}


.shaded-text {
    color: #bbd1ea;
}

nav,
.nav-link {
    background-color: #507dbc;
    height: 30px;
}

nav {
    padding: 15px 10px 8px 10px;
}

.nav-link {
    color: #04080f;
    font-size: 17px;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.recipe-image {
    height: 500px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.recipe-description-heading {
    font-size: 25px;
    margin-bottom: 20px;
}

.recipe-description {
    font-size: 20px;
}

.content-heading {
    font-size: 22px;
}
.ol,
.ul {
    font-size: 18px;
}